.list {
    height: 90%;
    width: 92%;
    margin: auto;
    overflow: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.title {
    height: 10%;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
}

.btn {
    border: 0;
    background-color: #bbbbbb;
    border-radius: 3px;
    cursor: pointer;
}